<div class="row">
	<div class="page-header">
		<h1>Consultar Produtos</h1>
	</div>
	<div class="painel-filtros">
		<h3>Filtrar consulta:</h3>
		<form class="clearfix" ng-submit="vm.filtros.filtrar()">
			<div class="form-group col-xs-12">
				<label class="sr-only" for="filtro_descricao">Por descrição</label>
				<input type="text" class="form-control" id="filtro_descricao" placeholder="Por descrição" ng-model="vm.filtros.descricao">
			</div>
			<div class="form-group col-xs-12 col-sm-3 col-md-2">
				<button type="submit" class="btn btn-primary form-control" ng-disabled="vm.filtros.nenhumFiltroPreenchido() || vm.carregando">Filtrar</button>
			</div>
			<div class="form-group col-xs-12 col-sm-3 col-md-2">
				<button type="button" class="btn btn-primary form-control" ng-disabled="vm.carregando" ng-click="vm.recarregar()">Limpar</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="hidden-xs">#</th>
					<th colspan="2">Produto</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="!vm.possuiProdutos()">
					<td colspan="3" class="text-center"><h4>Nenhum produto encontrado</h4></td>
				</tr>
				<tr ng-repeat="produto in vm.produtos">
					<td class="hidden-xs" ng-class="vm.getProdutoNgClass(produto)"><i class="material-icons row-icon">receipt</i></td>
					<td class="col-xs-10">
						<strong>{{ produto.descricao }}</strong>
						<br>
						<strong ng-class="vm.getProdutoNgClass(produto)">{{ vm.getQuantidadeText(produto.quantidade) }}</strong>
						<br>
						custando <strong>{{ produto.preco | currency : 'R$' }}</strong>
						<div ng-if="!produto.ativo">
							está atualmente <strong class="text-danger">INATIVO</strong>
						</div>
					</td>
					<td>
						<a class="btn btn-lg" ui-sref="app.produtos.editar({id: produto.id})" ><i class="material-icons">mode_edit</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<span ng-if="vm.possuiProdutos()">Exibindo {{ vm.produtos.length }} de {{ vm.resource.page.totalElements }} registros</span>
	<button class="btn btn-primary" ng-if="vm.podeCarregarMais()" ng-disabled="vm.carregando" ng-click="vm.carregarMais()">Exibir mais</button>
</div>
