<div class="page-header">
    <h1>
        Formulário de Funcionario
    </h1>
</div>
<div class="well well-lg">
    <form name="funcionarioForm" class="form-horizontal" ng-submit="vm.salvar()" novalidate>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="!vm.editar" ng-model="vm.funcionario.ativo"> Ativo
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-success': funcionarioForm.nome.$valid, 'has-error': funcionarioForm.nome.$dirty && funcionarioForm.nome.$invalid }">
            <label for="funcionario_nome" class="sr-only control-label" required="true">Nome</label>
            <input type="text" class="form-control" id="funcionario_nome" name="nome" ng-model="vm.funcionario.nome" autocomplete="off" placeholder="Nome" required ng-minlength="3" ng-maxlength="80">
            <div ng-if="funcionarioForm.nome.$dirty" ng-messages="funcionarioForm.nome.$error">
                <span ng-message="required" class="help-block">O nome do funcionário é obrigatório</span>
                <span ng-message="minlength, maxlength" class="help-block">O nome do funcionário deve possuir entre 3 e 80 caracteres</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-success': funcionarioForm.cpf.$valid, 'has-error': funcionarioForm.cpf.$dirty && funcionarioForm.cpf.$invalid }">
            <label for="funcionario_cpf" class="sr-only control-label" required="true">CPF</label>
            <input type="text" class="form-control" id="funcionario_cpf" unique unique-res="funcionarios" unique-except="{{ vm.cpfInicial }}" mask="999.999.999-99" clean="true" name="cpf" ng-disabled="vm.editar" ng-cpf ng-model="vm.funcionario.cpf" autocomplete="off" placeholder="CPF" required ng-maxlength="14">
            <div ng-if="funcionarioForm.cpf.$dirty" ng-messages="funcionarioForm.cpf.$error">
                <span ng-message="unique" class="help-block">O CPF já está cadastrado</span>
                <span ng-message="cpf" class="help-block">O CPF é inválido</span>
                <span ng-message="required" class="help-block">O CPF do funcionário é obrigatório</span>
                <span ng-message="maxlength" class="help-block">O CPF do funcionário não pode conter mais que 14 caracteres</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-success': funcionarioForm.cargo.$valid, 'has-error': funcionarioForm.cargo.$dirty && funcionarioForm.cargo.$invalid }">
            <label class="sr-only" for="funcionario_cargo">Cargo</label>
            <select id="funcionario_cargo" name="cargo" class="form-control" ng-model="vm.funcionario.cargo" required>
                <option value="ADMINISTRADOR">Cargo: Administrador</option>
                <option value="GERENTE">Cargo: Gerente</option>
                <option value="VENDEDOR">Cargo: Vendedor</option>
            </select>
            <div ng-if="funcionarioForm.cargo.$dirty" ng-messages="funcionarioForm.cargo.$error">
                <span ng-message="required" class="help-block">O cargo do funcionário é obrigatório</span>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a ui-sref="app.funcionarios.consultar" class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>
