<div class="page-header">
    <h1>
        Formulário de Usuário
        <a ui-sref="app.usuarios" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    </h1>
</div>
<div class="well well-lg">
    <h3>Dados do Usuário</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="login" class="sr-only control-label">Login</label>
            <input type="text" ng-disabled="vm.edit" class="form-control" id="login" ng-model="vm.usuario.login" placeholder="Login">
        </div>
        <div class="form-group">
            <label for="senha" class="sr-only control-label">Senha</label>
            <input type="password" class="form-control" id="senha" ng-model="vm.usuario.senha" placeholder="Senha">
        </div>
        <div class="form-group">
            <label for="confirmar_senha" class="sr-only control-label">Confirmar senha</label>
            <input type="password" class="form-control" id="confirmar_senha" ng-model="vm.confirmarSenha" placeholder="Confirmar senha">
        </div>

		<h3>Vincular um funcionário</h3>

		<div class="form-group">
			<label for="funcionario_find" class="sr-only control-label">Encontrar funcionário...</label>
			<input id="funcionario_find"
					type="text"
					ng-model="vm.funcionario"
					placeholder="Encontrar funcionário..."
					uib-typeahead="funcionario as funcionario.nome for funcionario in vm.selecionarFuncionario($viewValue)"
					typeahead-loading="carregandoFuncionarios"
					typeahead-no-results="nenhumFuncionarioEncontrado"
					autocomplete="off"
					class="form-control">
			<span ng-show="carregandoFuncionarios">
				Procurando funcionários...
			</span>
			<span class="text-danger" ng-show="nenhumFuncionarioEncontrado">
				Nenhum funcionário encontrado.
			</span>
		</div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a ui-sref="app.usuarios" class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>
