<div class="row">
	<div class="page-header">
		<h1>Consultar Usuários</h1>
	</div>
	<div class="painel-filtros">
		<h3>Filtrar consulta:</h3>
		<form class="clearfix" ng-submit="vm.filtros.filtrar()">
			<div class="form-group col-xs-12 col-sm-3">
				<label class="sr-only" for="filtro_login">Por login</label>
				<input type="text" class="form-control" id="filtro_login" placeholder="Por login" ng-model="vm.filtros.login">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label class="sr-only" for="filtro_nome">Por nome</label>
				<input type="text" class="form-control" id="filtro_nome" placeholder="Por nome" ng-model="vm.filtros.nome">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label class="sr-only" for="filtro_cpf">Por CPF</label>
				<input type="text" class="form-control" id="filtro_cpf" placeholder="Por CPF" ng-model="vm.filtros.cpf">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label class="sr-only" for="filtro_cargo">Por cargo</label>
				<select id="filtro_cargo" class="form-control" ng-model="vm.filtros.cargo" ng-options="cargo as cargo.rotulo for cargo in vm.cargos"></select>
			</div>
			<div class="form-group col-xs-12 col-sm-3 col-md-2">
				<button type="submit" class="btn btn-primary form-control" ng-disabled="vm.filtros.nenhumFiltroPreenchido() || vm.carregando">Filtrar</button>
			</div>
			<div class="form-group col-xs-12 col-sm-3 col-md-2">
				<button type="button" class="btn btn-primary form-control" ng-disabled="vm.carregando" ng-click="vm.recarregar()">Limpar</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="hidden-xs">#</th>
					<th colspan="2">Usuario</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="!vm.possuiUsuarios()">
					<td colspan="3" class="text-center"><h4>Nenhum usuário encontrado</h4></td>
				</tr>
				<tr ng-repeat="usuario in vm.usuarios">
					<td class="hidden-xs" ng-class="vm.getCargoNgClass(usuario)"><i class="material-icons row-icon">person</i></td>
					<td class="col-xs-10">
						Funcionário <strong>{{ usuario.funcionario.nome }}</strong>
						<br>
						com login <strong>{{ usuario.login }}</strong>
						<br>
						e CPF <strong>{{ usuario.funcionario.cpf | brCpf }}</strong>
						<br>
						de cargo <strong ng-class="vm.getCargoNgClass(usuario)">{{ usuario.funcionario.cargo | capitalize }}</strong>
						<div ng-if="!usuario.ativo">
							está atualmente <strong class="text-danger">INATIVO</strong>
						</div>
					</td>
					<td>
						<a class="btn btn-lg" ui-sref="app.usuarios.editar({id: usuario.id})" ><i class="material-icons">mode_edit</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<span ng-if="vm.possuiUsuarios()">Exibindo {{ vm.usuarios.length }} de {{ vm.resource.page.totalElements }} registros</span>
	<button class="btn btn-primary" ng-if="vm.podeCarregarMais()" ng-disabled="vm.carregando" ng-click="vm.carregarMais()">Exibir mais</button>
</div>
