<div class="header">

	<div class="container">
		<h1 class="text-center app-name">Systock</h1>
	</div>

</div>
<div class="container">

    <form class="form-signin" ng-submit="vm.entrar()">

		<div uib-alert ng-repeat="mensagem in vm.mensagens" ng-class="'alert-' + (mensagem.tipo || 'info')" close="vm.removerMensagem($index)">{{mensagem.descricao}}</div>

        <h2 class="form-signin-heading">Identifique-se</h2>

		<label for="username" class="sr-only">Login</label>
        <input type="text" id="username" class="form-control" placeholder="Login" ng-model="vm.login" required autofocus>

        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" class="form-control" placeholder="Senha" ng-model="vm.senha" required>

        <!-- <div class="checkbox">
        	<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
        </div> -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

</div>
